/* --- Bot UI override --- */
/* --------------------------------------------- */

.botui-actions-container {
    text-align: right;
    padding:0;
}

button.botui-actions-buttons-button {
    margin: 0;
}

.botui-message {
    margin: 0 0 20px 0;
    position:relative;
}

button.botui-actions-buttons-button:not(:last-child) {
    margin-right: 10px;
}
button.botui-actions-buttons-button:last-child {
    margin-right: 10px;
}

.botui-actions-buttons button {
    margin:10px;
}

.botui-message-content:before,
.botui-actions-container > div:before {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 18px;
    left: -26px;
    top: 13px;
    background: no-repeat right;
    background-size: contain;
    background-image: url(images/chat-bubble-bot.svg);
}

.botui-message-content.human:before {
    left: auto;
    right:-12px;
    background-image: url(images/chat-bubble-human.svg);
}

.botui-actions-container > div:before {
    left: auto;
    right:-12px;
    background-image: url(images/chat-bubble-human-action.svg);
}

.botui-container {
    font-size: 18px;
    background-color: #fff;
    font-family: 'Raleway',sans-serif;
}

.botui-message-content,
.botui-message-content.loading {
    padding: 20px 25px;
    border-radius: 10px;
    color: #fff;
    background-color: #3D555D;
}

.botui-message-content.loading .dot {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: #fff;
}

.botui-message-content.text {
    line-height: 28px;
}

.botui-message:nth-of-type(2n) .botui-message-content {
    max-width: 60%;
}

.botui-message-content.human {
    color: #0E3745;
    background-color: #71C9B8;
}

.botui-actions-container > div {
    position:relative;
    margin: 0;
    padding: 20px 25px;
    background: #E6F4F1;
    border-radius: 10px;
    max-width: 100%;
    text-align: right;
    display: inline-block;
}

.botui-actions-buttons-button {
    -webkit-appearance: none;
    display:inline-block;
    border: none;
    background: #0E3745;
    color: #71C9B8;
    font-size: 20px;
    padding: 12px 30px 15px;
    border-radius: 25px;
    cursor:pointer;
}

.botui-actions-buttons-button {
    background: #71C9B8;
    color:#0E3745;
    font-family: 'Raleway',sans-serif;
    box-shadow:none;
    width: auto;
}

.botui-actions-buttons-button:empty {
    background: none;
}

.botui-messages-container {
    padding: 0;
}

.botui-container {
    overflow:visible;
}

.botui-actions-text-submit {
    color: #0E3745;
    width: 32px;
    padding: 5px;
    height: 32px;
    line-height: 1;
    border-radius: 50%;
    border: none;
    background: #71C9B8;
    font-size: 14px;
}

.botui-actions-text-input {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 12px;
    font-family: 'Raleway',sans-serif;
    background-color: transparent;
    color: #595a5a;
    border: 1px solid #FFFFFF;
    height: 50px;
    margin-right: 10px !important;
    border-radius: 8px;
    width:200px;
}

textarea.botui-actions-text-input {
    width: 530px;
    max-width: 100%;
    height: 90px;
    font-size: 14px;
    color: #3D555D;
    padding: 5px 10px;
    resize: none;
    display: block;
    margin-bottom: 10px;
}

.botui-actions-text-input[type="number"] {
    width: 100px;
}

.botui-hint {
    color: #0E3745;
    padding: 10px 20px 10px 36px;
    border-radius: 7px;
    border: none;
    width: auto;
    display: block;
    max-width: 55%;
    margin-left: 15px;
    background: #71C9B8;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    margin-top: 5px;
}

.botui-hint li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.botui-hint:after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 18px;
    background: no-repeat right;
    background-size: contain;
    background-image: url(images/chat-bubble-human.svg);
    left: 7px;
    top: -8px;
    transform: rotate(-90deg);
}

.botui-hint:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/icon-info.svg) no-repeat center;
    background-size: contain;
    margin-right: 7px;
    opacity: 0.5;
    position: absolute;
    left: 12px;
    top: 11px;
}

.botui-actions-text-select {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 12px;
    font-family: 'Raleway',sans-serif;
    background-color: transparent;
    color: #595a5a;
    border: 1px solid #FFFFFF;
    height: 50px;
    margin-right: 10px !important;
    border-radius: 8px;
    width: auto;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    background-image: url(images/icon-select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 28px;
    padding-right: 45px;
}
.botui-actions-text-select::-ms-expand {
    display: none;
}  
.botui-actions-text-select:focus::-ms-value {
    background-color: transparent;
}  

@media screen and (max-width: 600px) {

    .botui-actions-container > div {
        max-width: 100%;
    }

    .botui-message-content {
        max-width: 90%;
    }
    .botui-message:nth-of-type(2n) .botui-message-content {
        max-width: 80%;
    }

    .botui-container {
        font-size: 16px;
    }

    .botui-message-content.text {
        line-height: 24px;
    }

    .botui-actions-container > div {
        padding: 14px 16px;
    }

    .botui-actions-buttons-button span {
        display:none;
    }

    .botui-actions-buttons-button {
        padding: 14px 18px 13px;
    }

    .botui-hint {
        max-width: 75%;
    }

}



